body {
    margin: 0;
    background: #1F2937;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: left;
    margin-left: 52px;
    margin-right: 52px;
    width:446px;
    font-size: 20px;
    
    
    
}

.accent {
    color: #4ADF86;
}


.container {
    max-width: 370px;
    
}

h2 {
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
    
   
}

button {
    background: #10B981;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 60px;
}

hr {
   margin-top: 35px;
   border: 1px solid #2F3E53;
}


#output {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    text-align: center;
    
    
 

}


#pw-shelf-one {
    background: #273549;
    color: #55F991;
    padding: 10px;
    border-radius: 5px;
    width: 190px;

}

#pw-shelf-two {
    
    background: #273549;
    color: #55F991;
    padding: 10px;
    border-radius: 5px;
    width:190px;
}
    